#  <font color=maroon> Male Family Planning Analysis </font> #

#### <font color=indigo>Sophia Atik, Applied Data Science, Spring 2019</font> ####

In [258]:
import pandas as pd    
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt

In [259]:
df = pd.read_stata('Raw_Data_Clipped.dta')
df.head()

,CASEID,RSCRAGE,RSCRHISP,RSCRRACE,AGE_A,AGE_R,AGESCRN,HISP,HISPGRP,ROSCNT,...,PUBASSIS_I,WGT2015_2017,SECU,SEST,CMINTVW,CMLSTYR,CMFIVYR,QUARTER,PHASE,INTVWYEAR
0,70622,29 years,No,3,29 years,29 years,29 years,No,NaN,3 HOUSEHOLD MEMBERS,...,QUESTIONNAIRE DATA (NOT IMPUTED),11801.703471,1,366,1399,1387,1333,20,1,2016
1,70626,18 years,Yes,Black or African American,18 years,18 years,18 years,Yes,"Mexican, Mexican American, or Chicano, only",6 HOUSEHOLD MEMBERS,...,QUESTIONNAIRE DATA (NOT IMPUTED),5153.910962,1,309,1391,1379,1321,17,1,2015
2,70629,23 years,No,3,23 years,23 years,23 years,No,NaN,3 HOUSEHOLD MEMBERS,...,QUESTIONNAIRE DATA (NOT IMPUTED),10293.100099,4,351,1405,1393,1345,22,1,2017
3,70631,17 years,No,3,17 years,17 years,17 years,No,NaN,4 HOUSEHOLD MEMBERS,...,QUESTIONNAIRE DATA (NOT IMPUTED),14236.029179,1,364,1403,1391,1333,21,1,2016
4,70636,37 years,No,3,37 years,37 years,37 years,No,NaN,2 HOUSEHOLD MEMBERS,...,QUESTIONNAIRE DATA (NOT IMPUTED),11320.650257,4,343,1393,1381,1333,18,1,2016